<head>
    <meta charset="utf-8">
    <title>GLB Skeleton test</title>
    <style>
        body { margin: 0; }
        canvas { display: block; }
    </style>
</head>
<body>
<script type="module">
    import * as THREE from "./three/build/three.module.js"
    import {GLTFLoader} from "./three/examples/jsm/loaders/GLTFLoader.js"
    var loader = new GLTFLoader();
    const scene = new THREE.Scene();

    const camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );

    const directionalLight = new THREE.DirectionalLight( 0xffffff, 1.5 );
    directionalLight.position.y = 20;
    directionalLight.position.z = 20;
    scene.add( directionalLight );

    const ambientLight = new THREE.AmbientLight(0x404040);
    scene.add( ambientLight );

    const renderer = new THREE.WebGLRenderer();
    renderer.setSize( window.innerWidth, window.innerHeight );
    renderer.setClearColor( 0xffffff, 1 );
    document.body.appendChild( renderer.domElement );

    camera.position.z = 2;

    var animate = function () {
        requestAnimationFrame( animate );
        renderer.render( scene, camera );
    };

    animate();

    loader.load(
        // resource URL
        "http://localhost:8888/girlworker.glb",

        // called when the resource is loaded
        function ( gltf ) {

            console.log("Loaded GLTF:", gltf);

            scene.add( gltf.scene );

            let prevSkeleton = null;

            for (const c of gltf.scene.children[0].children) {
                if (c.skeleton) {
                    console.log("Skeleton:", c.skeleton);
                    prevSkeleton = c.skeleton;
                }
            }
        },

        // called while loading is progressing
        function ( xhr ) {
            console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );
        },

        // called when loading has errors
        function ( error ) {
            console.log( 'An error happened', error);
        }
    );
</script>
</body>
